@import 'tailwindcss';

:root {
  --grey_block: #f2f0ef;

  --accent_primary: #ff6e02;
  --accent_secondary: #153e5a;

  --white: #ffffff;
  --white-30: #ffffff4d;
  --black: #000000;
  --black-20: rgba(0, 0, 0, 0.2);

  --error: #ff0000;

  --padding-block: 120px;
  --padding-block--sm: 80px;

  --btn_border-radius: 50px;

  --card_border-radius: 16px;
}

body,
html {
  scroll-behavior: smooth;
}

@utility container {
  margin-inline: auto;
  max-width: 1200px;
}

.block-padding {
  padding-block: var(--padding-block--sm);

  @media screen and (min-width: 992px) {
    padding-block: var(--padding-block--sm);
  }
}

.block-padding--start {
  padding-block-start: var(--padding-block--sm);
}

.block-padding--end {
  padding-block-end: var(--padding-block--sm);
}

@media screen and (min-width: 992px) {
  .block-padding {
    padding-block: var(--padding-block);
  }

  .block-padding--start {
    padding-block-start: var(--padding-block);
  }

  .block-padding--end {
    padding-block-end: var(--padding-block);
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: 'Inter', sans-serif;
}
