@import 'tailwindcss';

:root {
  --grey_block: #F2F0EF;

  --accent_primary: #FF6E02;
  --accent_secondary: #153E5A;

  --white: #FFFFFF;
  --black: #000000;

  --white-30: #FFFFFF4D;

  --padding-block: 200px;
  --padding-block--sm: 100px;

  --btn_border-radius: 50px;
}

@utility container {
  margin-inline: auto;
  max-width: 1200px;
}

.block-padding {
  padding-block: var(--padding-block--sm);
}

.block-padding--start {
  padding-block-start: var(--padding-block--sm);
}

.block-padding--end {
  padding-block-end: var(--padding-block--sm);
}

@media screen and (min-width: 992px) {
  .block-padding {
    padding-block: var(--padding-block);
  }

  .block-padding--start {
    padding-block-start: var(--padding-block);
  }

  .block-padding--end {
    padding-block-end: var(--padding-block);
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--white);
}

h1, h2, h3, h4, h5, h6, .title-font {
  font-family: 'Inter', sans-serif;
}
